openai
python-dotenv
pandas
google-api-python-client
google-auth
pydantic-settings
fastapi
uvicorn
sqlalchemy
psycopg2-binary
celery
redis
minio
markitdown[pdf,pptx,docx,xlsx]
langchain-text-splitters
python-multipart
pymupdf
pymupdf4llm
langchain-experimental
langchain-huggingface
sentence-transformers