openai
python-dotenv
pandas
google-api-python-client
google-auth
pydantic-settings
fastapi
uvicorn
sqlalchemy
psycopg2-binary
celery
redis
minio
markitdown[pdf,pptx,docx,xlsx]
langchain-text-splitters
python-multipart
langchain-core
pydantic
langchain_nvidia_ai_endpoints
neo4j
langchain-community
langchain-experimental
json-repair
langchain-neo4j
qdrant-client
ollama
langchain-ollama
transformers
peft
trl
datasets
accelerate
rouge-score
httpx
